nav {
    &.nav-bar {
        background-color: var(--background-secondary-color);
    }
    div div.home-name {
        display: flex;
        justify-content: flex-start;
    }
}

.nav-tabs-container {
    min-height:64px;
    align-items: center;

    a.nav-tab {
        height: 64px;
        padding: 10px;
        display:flex;
        align-items: center;
        color: white;

        &:hover {
            outline: 2px auto -webkit-focus-ring-color;
        }

        &.active {
            outline: 0px auto -webkit-focus-ring-color;
            background-color: var(--primary-color);
            transition: 4s;
            height: 64px;
        }
    }
}

// Mobile drawer active state
.MuiListItem-root.active {
    outline: 0px auto -webkit-focus-ring-color;
    background-color: var(--primary-color);
    transition: 4s;
}

