// src/styles/_variables.scss

$primary-color-light: rgb(217 119 6 / var(--tw-text-opacity, 1));
$secondary-color-light: #333;
$text-color-light: black;
$background-color-light: #f8f8f8;


$primary-color-dark: rgb(217 119 6 / var(--tw-text-opacity, 1));
$secondary-color-dark: #333;
$text-color-dark: black;
$background-color-dark: #f8f8f8;
