.products-grid {
    color: var(--text-color);
    .product-card {
        background-color: var(--card-bg-color);
    }
    span {
        color: var(--primary-color);
    }
}

.equipment-searchbar {
    input {
        background-color: var(--card-bg-color);
        color: var(--text-color);
    }
}