
@use "./styles/variables" as vars;
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    // fallback or default colors (optional)
  --primary-color: #{vars.$primary-color-light};
  --background-color: #{vars.$background-color-light};
  --text-color: #{vars.$text-color-light};
}


.light-mode {
  --primary-color: #{vars.$primary-color-light};
  --background-color: #{vars.$background-color-light};
  --text-color: #{vars.$text-color-light};
}

.dark-mode {
  --primary-color: #{vars.$primary-color-dark};
  --background-color: #{vars.$background-color-dark};
  --text-color: #{vars.$text-color-dark};
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes gradient-wave {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-2 {
  animation: gradient-wave 6s ease-in-out infinite;
}
