@use "./styles/variables" as vars;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Default colors (light mode)
  --error-color: red;
  --primary-color: #{vars.$primary-color-default};
  --secondary-color: #{vars.$secondary-color-default};
  --text-color: #{vars.$text-color-default};
  --text-color-secondary: #{vars.$text-color-secondary-default};
  --background-color: #{vars.$background-color-default};
  --background-secondary-color: #{vars.$background-secondary-color-default};
  --card-bg-color: #{vars.$card-bg-color-default};
  --border-color: #{vars.$border-color-default};
}

// default Mode
.default-mode {
  --primary-color: #{vars.$primary-color-default};
  --secondary-color: #{vars.$secondary-color-default};
  --text-color: #{vars.$text-color-default};
  --text-color-secondary: #{vars.$text-color-secondary-default};
  --background-color: #{vars.$background-color-default};
  --background-secondary-color: #{vars.$background-secondary-color-default};
  --card-bg-color: #{vars.$card-bg-color-default};
  --border-color: #{vars.$border-color-default};
}

// Light Mode
.light-mode {
  --primary-color: #{vars.$primary-color-light};
  --secondary-color: #{vars.$secondary-color-light};
  --text-color: #{vars.$text-color-light};
  --text-color-secondary: #{vars.$text-color-secondary-light};
  --background-color: #{vars.$background-color-light};
  --background-secondary-color: #{vars.$background-secondary-color-light};
  --card-bg-color: #{vars.$card-bg-color-light};
  --border-color: #{vars.$border-color-light};
}

// Dark Mode
.dark-mode {
  --primary-color: #{vars.$primary-color-dark};
  --secondary-color: #{vars.$secondary-color-dark};
  --text-color: #{vars.$text-color-dark};
  --text-color-secondary: #{vars.$text-color-secondary-dark};
  --background-color: #{vars.$background-color-dark};
  --background-secondary-color: #{vars.$background-secondary-color-dark};
  --card-bg-color: #{vars.$card-bg-color-dark};
  --border-color: #{vars.$border-color-dark};
}

// Blue Theme
.blue-mode {
  --primary-color: #{vars.$primary-color-blue};
  --secondary-color: #{vars.$secondary-color-blue};
  --text-color: #{vars.$text-color-blue};
  --text-color-secondary: #{vars.$text-color-secondary-blue};
  --background-color: #{vars.$background-color-blue};
  --background-secondary-color: #{vars.$background-secondary-color-blue};
  --card-bg-color: #{vars.$card-bg-color-blue};
  --border-color: #{vars.$border-color-blue};
}

// Green Theme
.green-mode {
  --primary-color: #{vars.$primary-color-green};
  --secondary-color: #{vars.$secondary-color-green};
  --text-color: #{vars.$text-color-green};
  --text-color-secondary: #{vars.$text-color-secondary-green};
  --background-color: #{vars.$background-color-green};
  --background-secondary-color: #{vars.$background-secondary-color-green};
  --card-bg-color: #{vars.$card-bg-color-green};
  --border-color: #{vars.$border-color-green};
}

// Pradres Theme
.padres-mode {
  --primary-color: #{vars.$primary-color-padres};
  --secondary-color: #{vars.$secondary-color-padres};
  --text-color: #{vars.$text-color-padres};
  --text-color-secondary: #{vars.$text-color-secondary-padres};
  --background-color: #{vars.$background-color-padres};
  --background-secondary-color: #{vars.$background-secondary-color-padres};
  --card-bg-color: #{vars.$card-bg-color-padres};
  --border-color: #{vars.$border-color-padres};
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  .nav-bar {
    /* header height can be fixed or based on content */
    flex: 0 0 auto; 
  }

  .page {
    flex: 1 1 auto;
  }

  .footer {
    flex: 0 0 auto; /* footer height based on content */
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--primary-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@keyframes gradient-wave {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-2 {
  animation: gradient-wave 6s ease-in-out infinite;
}
