@use "./styles/variables" as vars;
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    // fallback or default colors (optional)
  --primary-color: #{vars.$primary-color-light};
  --background-color: #{vars.$background-color-light};
  --background-secondary-color: #{vars.$background-secondary-color-light};
  --text-color: #{vars.$text-color-light};
}


.light-mode {
  --primary-color: #{vars.$primary-color-light};
  --background-color: #{vars.$background-color-light};
  --background-secondary-color: #{vars.$background-secondary-color-light};
  --text-color: #{vars.$text-color-light};
}

.dark-mode {
  --primary-color: #{vars.$primary-color-dark};
  --background-color: #{vars.$background-color-dark};
  --background-secondary-color: #{vars.$background-secondary-color-dark};
  --text-color: #{vars.$text-color-dark};
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .nav-bar {
    /* header height can be fixed or based on content */
    flex: 0 0 auto; 
  }

  .page {
    flex: 1 1 auto;
  }

  .footer {
    flex: 0 0 auto; /* footer height based on content */
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@keyframes gradient-wave {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient-2 {
  animation: gradient-wave 6s ease-in-out infinite;
}
